*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0% 20%;
}

.container{
    margin-top: 2%;
    width: 32%;
    position: relative;
    float: left; 
}

img, .text-prodotto{
    width: 100%;  
}

.centro{
    margin-left: 2%;
    margin-right: 2%;
}

p{
    font-size: 12px;
    color: red;
}

.titolo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.marca{
    color: black;
}

span{
    color: black;
    text-decoration: line-through;
}

.cuore{
    position: absolute;
    top: 20px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

