*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 1% 20%;
}

.container{
    width: 32%;
    position: relative;
    display: inline-block;
}

img{
    width: 100%;
    float: left; 
}

.sinistra{
    margin-right: 1%;
}

.destra{
    margin-left: 1%;
}
